.header {
    width: 98vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    align-items: flex-start;
    pointer-events: none;
}

.logo {
    display: inline;
    line-height: 120%;
    position: relative;
    z-index: 8;
    font-size: xx-large;
    margin: 15px 0 0 15px;
}
.logo a {
    text-decoration: none;
    color: #fff;
    display: block;
    pointer-events: auto;
    padding: 5px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.logo a::before, a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.logo a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #c0caf5;
}

.logo a:hover::after{
  transform: translate3d(0, 0, 0);
}

.logo a::before {
    background-color: #c0caf5;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.logo a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.logo  a:hover::after {
    transform: translate3d(0, 0, 0);
}
  
.logo a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.logo a:hover span {
    transform: translate3d(-200%, 0, 0);
}

.menu {
    display: block;
    top: 0;
    position: relative;
    z-index: 4;
    text-align: right;
    padding: 0;
    list-style: none;
    margin: 10px 15px 0 0;
}
.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    pointer-events: auto;
    padding: 1px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.menu a::before, a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.menu a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #c0caf5;
}

.menu a:hover::after{
  transform: translate3d(0, 0, 0);
}

.menu a::before {
    background-color: #c0caf5;
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.menu a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

.menu  a:hover::after {
    transform: translate3d(0, 0, 0);
}
  
.menu a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
.menu a:hover span {
    transform: translate3d(-200%, 0, 0);
}